@model List<Prueba_Trejo.Models.ViewPerson.Person>
@{
    ViewBag.Title = "Index";
}

<h2>Personas</h2>
<div class="row">
    <div class="col-md-10">
        <input type="button" class="btn btn-primary" onclick="document.location.href='@Url.Content("~/Person/addPerson")'" value="Nuevo"/>
    </div>
    
    
    <div class="col-lg-10">
        <br>
        <table class="table table-bordered">
            <tr>
                <th>#</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Identificación</th>
                <th>Género</th>
                <th>Fecha de nacimiento</th>
                <th>Activo</th>
                <th>Opciones</th>
            </tr>
            @foreach (var i in Model)
            {
                <tr>
                    <td>@i.id</td>
                    <td>@i.name</td>
                    <td>@i.last_name</td>
                    <td>@i.code</td>
                    @{
                if (i.gender == "m")
                {
                            <td>Masculino</td>
                }
                else
                {
                    <td>Femenino</td>
                }
                    }
                    <td>@Html.DisplayFor(model=>i.birth_date)</td>
                    @{
                    if (i.active)
                    {
                        <td>Si</td>
                     }
                     else
                    {
                        <td>No</td>
                    }
                            }

                <td>
                    <input type="button" value="Eliminar" class="btn btn-danger" onclick="document.location.href='@Url.Content("~/Person/deletePerson/"+i.id)'"/>
                    <input type="button" value="Editar" class="btn btn-dark" onclick="document.location.href='@Url.Content("~/Person/editPerson/"+i.id)'"/>
                </td>
                  </tr>
            }
        
        </table>
    </div>
</div>
